/* Including styles files */
.icon-arrow-blue {
  background-image: url(../../img/sprite.png);
  background-position: -150px -110px;
  width: 25px;
  height: 19px; }

.icon-arrow-white {
  background-image: url(../../img/sprite.png);
  background-position: -84px -57px;
  width: 25px;
  height: 19px; }

.icon-arrow-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -175px -110px;
  width: 25px;
  height: 19px; }

.icon-check {
  background-image: url(../../img/sprite.png);
  background-position: -113px -80px;
  width: 19px;
  height: 17px; }

.icon-cpm {
  background-image: url(../../img/sprite.png);
  background-position: -150px 0px;
  width: 68px;
  height: 54px; }

.icon-data {
  background-image: url(../../img/sprite.png);
  background-position: 0px -80px;
  width: 71px;
  height: 52px; }

.icon-dollar {
  background-image: url(../../img/sprite.png);
  background-position: -84px 0px;
  width: 66px;
  height: 57px; }

.icon-dribbble {
  background-image: url(../../img/sprite.png);
  background-position: -94px -80px;
  width: 19px;
  height: 19px; }

.icon-email {
  background-image: url(../../img/sprite.png);
  background-position: -132px -80px;
  width: 17px;
  height: 13px; }

.icon-f {
  background-image: url(../../img/sprite.png);
  background-position: 0px -132px;
  width: 13px;
  height: 19px; }

.icon-fb {
  background-image: url(../../img/sprite.png);
  background-position: -206px -54px;
  width: 11px;
  height: 20px; }

.icon-gmail {
  background-image: url(../../img/sprite.png);
  background-position: -109px -57px;
  width: 24px;
  height: 19px; }

.icon-insta {
  background-image: url(../../img/sprite.png);
  background-position: -200px -110px;
  width: 18px;
  height: 18px; }

.icon-list {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 80px; }

.icon-marker {
  background-image: url(../../img/sprite.png);
  background-position: -71px -104px;
  width: 16px;
  height: 20px; }

.icon-pinterest {
  background-image: url(../../img/sprite.png);
  background-position: -133px -57px;
  width: 15px;
  height: 19px; }

.icon-skype {
  background-image: url(../../img/sprite.png);
  background-position: -71px -80px;
  width: 23px;
  height: 24px; }

.icon-thumbup {
  background-image: url(../../img/sprite.png);
  background-position: -150px -54px;
  width: 56px;
  height: 56px; }

.icon-tw {
  background-image: url(../../img/sprite.png);
  background-position: -87px -104px;
  width: 19px;
  height: 16px; }

/* Including fonts */
@font-face {
  src: url("../../fonts/"); }

/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  color: #000;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.inline-block {
  display: inline-block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    display: inline-block;
    font-size: 16px;
    list-style-type: none; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom .3s;
  transition: border-bottom .3s; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.input, .button, .slick-slide {
  outline: none; }

/* Grid */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.col {
  float: left;
  display: block;
  min-height: 1px; }
  .col-1 {
    width: 100%; }
  .col-2 {
    width: 50%; }
  .col-3 {
    width: 33.33333%; }
  .col-4 {
    width: 25%; }
  .col-5 {
    width: 20%; }

/* Form elements */
.input {
  display: block;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  background: white;
  width: 100%; }

.textarea {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  display: block;
  background: white;
  resize: none;
  border: 1px solid #f0f0f0; }
  .textarea_error {
    border-color: red; }

.button {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s; }

.input, .textarea {
  -webkit-transition: border-color .3s;
  transition: border-color .3s; }

a {
  -webkit-transition: .3s;
  transition: .3s; }

::-webkit-input-placeholder {
  color: #878686; }

::-moz-placeholder {
  color: #878686; }

:-ms-input-placeholder {
  color: #878686; }

::placeholder {
  color: #878686; }

/* Blocks align */
.left {
  float: left; }

.right {
  float: right; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }
