@media screen and (max-width: 1199px)
	.case
		width: 950px
	
	.hidden-lg
		display: flex
	
	.hidden-md
		display: none


	
@media screen and (max-width: 992px)
	.case
		width: 750px

	.hidden-md
		display: flex		
	
	.hidden-sm
		display: none
	
@media screen and (max-width: 767px)
	.case
		width: 100%

	.hidden-sm
		display: flex
	
	.hidden-xs
		display: none
	

