/* Including styles files */
@import sprite.sass
@import fonts.sass



/* Global settings */
$font-size: 16px
$font-family-1: 'Tahoma', sans-serif
$color-1: #000


*
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white

header, nav, main, section, article, aside, footer, li, .block
	display: block

.inline-block
	display: inline-block

.hidden
	display: none



h1, h2, h3, h4, h5, h6
	display: inline
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		display: inline-block
		font-size: $font-size
		list-style-type: none


a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: .3s

img
	display: block


.icon
	display: inline-block
	vertical-align: middle

.input input, .btn, .slick-slide, .textarea textarea
	outline: none

/* Grid */
.case
	position: relative
	width: (1140px + 30px)
	padding-left: 15px
	padding-right: 15px

.row, .clearfix
	&:before, &:after
		display: table
		content: ''
		box-sizing: border-box
	&:after
		clear: both

.row_line
	text-align: center
	font-size: 0

.col
	min-height: 1px
	float: left
	display: block
	&_line
		display: inline-block
		vertical-align: top
		font-size: $font-size
		min-height: 1px

	



/* Form elements */
.input
	input
		display: block
		font-size: $font-size
		font-family: $font-family-1
		background: white
		width: 100%
		&::placeholder
			color: #878686

.textarea
	textarea
		font-size: $font-size
		font-family: $font-family-1
		display: block
		background: white
		resize: none
		border: 1px solid #f0f0f0
		width: 100%
		&::placeholder
			color: #878686


.btn
	position: relative
	display: block
	font-size: $font-size
	font-family: $font-family-1
	cursor: pointer
	margin-left: auto
	margin-right: auto
	text-align: center
	transition: .3s

.input input, .textarea textarea
	transition: .3s




/* Blocks */ 
.left
	float: left

.right
	float: right

.mid, .case
	margin-left: auto
	margin-right: auto
