/* Including styles files */
@import sprite.sass
@import fonts.sass
@import grid.sass


/* Global settings */
$font-size: 16px
$font-family-1: 'Tahoma', sans-serif
$color-1: #000


*, :before, :after
	padding: 0
	margin: 0
	border: 0
	display: flex
	flex-wrap: wrap
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white


body, header, main, footer
	width: 100%

script, title, meta
	display: none


ul
	display: flex
	flex-wrap: wrap
	justify-content: flex-start

a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: .3s

img
	max-width: 100% !important
	max-height: 100% !important

input
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

input, textarea, button
	display: none

/* Form elements */
.input
	position: relative
	&__wrap
		font-size: $font-size
		font-family: $font-family-1
		background: white
		width: 100%
		

.textarea
	position: relative
	&__wrap
		font-size: $font-size
		font-family: $font-family-1
		background: white
		width: 100%

.btn
	position: relative
	display: inline-block
	font-size: 0
	font-family: $font-family-1
	cursor: pointer
	text-align: center
	transition: .3s

.input input, .textarea textarea
	transition: .3s

input, .btn, .slick-slide, .textarea textarea
	outline: none !important


.tal
	text-align: left

.tac
	text-align: center

.tar
	text-align: right

.mid
	margin-left: auto
	margin-right: auto






.hidden-lg
	display: none
