// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-blue-name: 'arrow-blue'
$arrow-blue-x: 150px
$arrow-blue-y: 110px
$arrow-blue-offset-x: -150px
$arrow-blue-offset-y: -110px
$arrow-blue-width: 25px
$arrow-blue-height: 19px
$arrow-blue-total-width: 218px
$arrow-blue-total-height: 151px
$arrow-blue-image: '../../img/sprite.png'
$arrow-blue: (150px, 110px, -150px, -110px, 25px, 19px, 218px, 151px, '../../img/sprite.png', 'arrow-blue', )
$arrow-white-name: 'arrow-white'
$arrow-white-x: 84px
$arrow-white-y: 57px
$arrow-white-offset-x: -84px
$arrow-white-offset-y: -57px
$arrow-white-width: 25px
$arrow-white-height: 19px
$arrow-white-total-width: 218px
$arrow-white-total-height: 151px
$arrow-white-image: '../../img/sprite.png'
$arrow-white: (84px, 57px, -84px, -57px, 25px, 19px, 218px, 151px, '../../img/sprite.png', 'arrow-white', )
$arrow-yellow-name: 'arrow-yellow'
$arrow-yellow-x: 175px
$arrow-yellow-y: 110px
$arrow-yellow-offset-x: -175px
$arrow-yellow-offset-y: -110px
$arrow-yellow-width: 25px
$arrow-yellow-height: 19px
$arrow-yellow-total-width: 218px
$arrow-yellow-total-height: 151px
$arrow-yellow-image: '../../img/sprite.png'
$arrow-yellow: (175px, 110px, -175px, -110px, 25px, 19px, 218px, 151px, '../../img/sprite.png', 'arrow-yellow', )
$check-name: 'check'
$check-x: 113px
$check-y: 80px
$check-offset-x: -113px
$check-offset-y: -80px
$check-width: 19px
$check-height: 17px
$check-total-width: 218px
$check-total-height: 151px
$check-image: '../../img/sprite.png'
$check: (113px, 80px, -113px, -80px, 19px, 17px, 218px, 151px, '../../img/sprite.png', 'check', )
$cpm-name: 'cpm'
$cpm-x: 150px
$cpm-y: 0px
$cpm-offset-x: -150px
$cpm-offset-y: 0px
$cpm-width: 68px
$cpm-height: 54px
$cpm-total-width: 218px
$cpm-total-height: 151px
$cpm-image: '../../img/sprite.png'
$cpm: (150px, 0px, -150px, 0px, 68px, 54px, 218px, 151px, '../../img/sprite.png', 'cpm', )
$data-name: 'data'
$data-x: 0px
$data-y: 80px
$data-offset-x: 0px
$data-offset-y: -80px
$data-width: 71px
$data-height: 52px
$data-total-width: 218px
$data-total-height: 151px
$data-image: '../../img/sprite.png'
$data: (0px, 80px, 0px, -80px, 71px, 52px, 218px, 151px, '../../img/sprite.png', 'data', )
$dollar-name: 'dollar'
$dollar-x: 84px
$dollar-y: 0px
$dollar-offset-x: -84px
$dollar-offset-y: 0px
$dollar-width: 66px
$dollar-height: 57px
$dollar-total-width: 218px
$dollar-total-height: 151px
$dollar-image: '../../img/sprite.png'
$dollar: (84px, 0px, -84px, 0px, 66px, 57px, 218px, 151px, '../../img/sprite.png', 'dollar', )
$dribbble-name: 'dribbble'
$dribbble-x: 94px
$dribbble-y: 80px
$dribbble-offset-x: -94px
$dribbble-offset-y: -80px
$dribbble-width: 19px
$dribbble-height: 19px
$dribbble-total-width: 218px
$dribbble-total-height: 151px
$dribbble-image: '../../img/sprite.png'
$dribbble: (94px, 80px, -94px, -80px, 19px, 19px, 218px, 151px, '../../img/sprite.png', 'dribbble', )
$email-name: 'email'
$email-x: 132px
$email-y: 80px
$email-offset-x: -132px
$email-offset-y: -80px
$email-width: 17px
$email-height: 13px
$email-total-width: 218px
$email-total-height: 151px
$email-image: '../../img/sprite.png'
$email: (132px, 80px, -132px, -80px, 17px, 13px, 218px, 151px, '../../img/sprite.png', 'email', )
$f-name: 'f'
$f-x: 0px
$f-y: 132px
$f-offset-x: 0px
$f-offset-y: -132px
$f-width: 13px
$f-height: 19px
$f-total-width: 218px
$f-total-height: 151px
$f-image: '../../img/sprite.png'
$f: (0px, 132px, 0px, -132px, 13px, 19px, 218px, 151px, '../../img/sprite.png', 'f', )
$fb-name: 'fb'
$fb-x: 206px
$fb-y: 54px
$fb-offset-x: -206px
$fb-offset-y: -54px
$fb-width: 11px
$fb-height: 20px
$fb-total-width: 218px
$fb-total-height: 151px
$fb-image: '../../img/sprite.png'
$fb: (206px, 54px, -206px, -54px, 11px, 20px, 218px, 151px, '../../img/sprite.png', 'fb', )
$gmail-name: 'gmail'
$gmail-x: 109px
$gmail-y: 57px
$gmail-offset-x: -109px
$gmail-offset-y: -57px
$gmail-width: 24px
$gmail-height: 19px
$gmail-total-width: 218px
$gmail-total-height: 151px
$gmail-image: '../../img/sprite.png'
$gmail: (109px, 57px, -109px, -57px, 24px, 19px, 218px, 151px, '../../img/sprite.png', 'gmail', )
$insta-name: 'insta'
$insta-x: 200px
$insta-y: 110px
$insta-offset-x: -200px
$insta-offset-y: -110px
$insta-width: 18px
$insta-height: 18px
$insta-total-width: 218px
$insta-total-height: 151px
$insta-image: '../../img/sprite.png'
$insta: (200px, 110px, -200px, -110px, 18px, 18px, 218px, 151px, '../../img/sprite.png', 'insta', )
$list-name: 'list'
$list-x: 0px
$list-y: 0px
$list-offset-x: 0px
$list-offset-y: 0px
$list-width: 84px
$list-height: 80px
$list-total-width: 218px
$list-total-height: 151px
$list-image: '../../img/sprite.png'
$list: (0px, 0px, 0px, 0px, 84px, 80px, 218px, 151px, '../../img/sprite.png', 'list', )
$marker-name: 'marker'
$marker-x: 71px
$marker-y: 104px
$marker-offset-x: -71px
$marker-offset-y: -104px
$marker-width: 16px
$marker-height: 20px
$marker-total-width: 218px
$marker-total-height: 151px
$marker-image: '../../img/sprite.png'
$marker: (71px, 104px, -71px, -104px, 16px, 20px, 218px, 151px, '../../img/sprite.png', 'marker', )
$pinterest-name: 'pinterest'
$pinterest-x: 133px
$pinterest-y: 57px
$pinterest-offset-x: -133px
$pinterest-offset-y: -57px
$pinterest-width: 15px
$pinterest-height: 19px
$pinterest-total-width: 218px
$pinterest-total-height: 151px
$pinterest-image: '../../img/sprite.png'
$pinterest: (133px, 57px, -133px, -57px, 15px, 19px, 218px, 151px, '../../img/sprite.png', 'pinterest', )
$skype-name: 'skype'
$skype-x: 71px
$skype-y: 80px
$skype-offset-x: -71px
$skype-offset-y: -80px
$skype-width: 23px
$skype-height: 24px
$skype-total-width: 218px
$skype-total-height: 151px
$skype-image: '../../img/sprite.png'
$skype: (71px, 80px, -71px, -80px, 23px, 24px, 218px, 151px, '../../img/sprite.png', 'skype', )
$thumbup-name: 'thumbup'
$thumbup-x: 150px
$thumbup-y: 54px
$thumbup-offset-x: -150px
$thumbup-offset-y: -54px
$thumbup-width: 56px
$thumbup-height: 56px
$thumbup-total-width: 218px
$thumbup-total-height: 151px
$thumbup-image: '../../img/sprite.png'
$thumbup: (150px, 54px, -150px, -54px, 56px, 56px, 218px, 151px, '../../img/sprite.png', 'thumbup', )
$tw-name: 'tw'
$tw-x: 87px
$tw-y: 104px
$tw-offset-x: -87px
$tw-offset-y: -104px
$tw-width: 19px
$tw-height: 16px
$tw-total-width: 218px
$tw-total-height: 151px
$tw-image: '../../img/sprite.png'
$tw: (87px, 104px, -87px, -104px, 19px, 16px, 218px, 151px, '../../img/sprite.png', 'tw', )
$spritesheet-width: 218px
$spritesheet-height: 151px
$spritesheet-image: '../../img/sprite.png'
$spritesheet-sprites: ($arrow-blue, $arrow-white, $arrow-yellow, $check, $cpm, $data, $dollar, $dribbble, $email, $f, $fb, $gmail, $insta, $list, $marker, $pinterest, $skype, $thumbup, $tw, )
$spritesheet: (218px, 151px, '../../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

.icon-arrow-blue
  @include sprite($arrow-blue)
.icon-arrow-white
  @include sprite($arrow-white)
.icon-arrow-yellow
  @include sprite($arrow-yellow)
.icon-check
  @include sprite($check)
.icon-cpm
  @include sprite($cpm)
.icon-data
  @include sprite($data)
.icon-dollar
  @include sprite($dollar)
.icon-dribbble
  @include sprite($dribbble)
.icon-email
  @include sprite($email)
.icon-f
  @include sprite($f)
.icon-fb
  @include sprite($fb)
.icon-gmail
  @include sprite($gmail)
.icon-insta
  @include sprite($insta)
.icon-list
  @include sprite($list)
.icon-marker
  @include sprite($marker)
.icon-pinterest
  @include sprite($pinterest)
.icon-skype
  @include sprite($skype)
.icon-thumbup
  @include sprite($thumbup)
.icon-tw
  @include sprite($tw)