/* Including styles files */
/* Including fonts */
@font-face {
  src: url("../../fonts/"); }

/* Grid */
.case {
  position: relative;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.col, .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.one {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.two {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.tree {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.four {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.five {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5; }

.six {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6; }

.seven {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7; }

/* Global settings */
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  color: #000;
  background: white; }

header, nav, main, section, article, aside, footer, li, .block {
  display: block; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  display: inline;
  font-size: inherit;
  font-weight: inherit; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

.icon {
  display: inline-block;
  vertical-align: middle; }

/* Form elements */
.input {
  position: relative;
  overflow: hidden; }
  .input__wrap {
    display: block;
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    background: white;
    width: 100%; }
    .input__wrap:focus + .input__title_hide {
      opacity: 0; }
    .input__wrap:focus + .input__title_fade {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    .input__wrap:focus + .input__title_none {
      display: none; }
  .input__title {
    -webkit-transition: .5s;
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .input_default .input__wrap {
    border: 1px solid gray; }

.textarea textarea {
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  display: block;
  background: white;
  resize: none;
  border: 1px solid #f0f0f0;
  width: 100%; }
  .textarea textarea::-webkit-input-placeholder {
    opacity: 1;
    color: #878686; }
  .textarea textarea::-moz-placeholder {
    opacity: 1;
    color: #878686; }
  .textarea textarea:-ms-input-placeholder {
    opacity: 1;
    color: #878686; }
  .textarea textarea::placeholder {
    opacity: 1;
    color: #878686; }

.btn {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: "Tahoma", sans-serif;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

.input input, .btn, .slick-slide, .textarea textarea {
  outline: none !important; }
